<div class="modal fade" id="sucursalDelete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" {{action "cancel"}} data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Eliminar Sucursal</h4>
      </div>
      <div class="modal-body">
        <p>¿Desea eliminar la sucursal?</p>
      </div>
      <div class="modal-footer">
        <button type="button" {{action "deleteRecord"}} onkeydown="Bodega.ignoreEscapeDeleteModalWindow('controller:sucursal.delete', 'sucursales');" class="btn btn-theme" data-dismiss="modal" autofocus>Sí</button>
        <button type="button" {{action "cancel"}} class="btn btn-default" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
