<div role="tabpanel" class="tab-pane active" id="ficha">
  <div class="panel panel-default" style="margin-top: 15px;">

    <div class="panel-body">
      <div class="panel-group" id="accordion">
        {{! TODO: agregar sub tabs para las dieferentes partes de la ficha}}
        {{ partial "pacientes/fonoaudiologia/comunicacion_lenguaje"}}
        {{ partial "pacientes/fonoaudiologia/estimulos"}}
        {{ partial "pacientes/fonoaudiologia/alimentacion"}}
        {{ partial "pacientes/fonoaudiologia/fistula"}}
      </div>
    </div>
  </div>
</div>
