<div role="tabpanel" class="tab-pane active" id="ficha" style="min-height:1200px">
  <div class="panel panel-default" style="margin-top: 15px;">

      <div class="panel-body">
        <div class="panel-group" id="accordion">
          {{ partial "fichas_odontologia/recien_nacido" }}
          {{ partial "fichas_odontologia/preescolar_adolescente" }}
          {{ partial "fichas_odontologia/examen_clinico" }}
          {{ partial "fichas_odontologia/odontograma" }}
        </div>
      </div>
    </div>
  </div>
