<h3>
  <i class="fa fa-angle-right"></i>
  Categorias de Clientes
  {{#link-to 'categoriaClientes.new'}}
    <button class="btn btn-theme btn-sm glyphicon glyphicon-plus" style="margin-top: -5px; margin-left: 5px;"></button>
  {{/link-to}}
</h3>
<div class="row mt">
  <div class="col-lg-12">
    {{view Bodega.views.FilterView}}
    <div class="table-responsive content-panel" style="padding: 0px;">
      <table class="table table-bordered table-striped table-condensed">
          <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Descripcion</th>
                  <th style="width:11%;"></th>
              </tr>
          </thead>
          <tbody>
          {{#each}}
              <tr>
                  <td>{{nombre}}</td>
                  <td>{{descripcion}}</td>
                  <td class="center">
                    {{#link-to 'categoriaCliente.edit' this classNames='table-action'}}
                      <button class="btn btn-theme btn-sm glyphicon glyphicon-pencil"></button>
                    {{/link-to}}
                    {{#link-to 'categoriaCliente.delete' this classNames='table-action'}}
                      <button class="btn btn-theme btn-sm glyphicon glyphicon-remove" 
                              data-toggle="modal" data-target="#categoriaClienteDelete"></button>
                    {{/link-to}}
                  </td>
              </tr>
          {{/each}}
          </tbody>
      </table>
    </div>
    {{view Bodega.views.PaginationView}}
  </div>
</div>