<div class="panel panel-default" style="margin-top: 15px;">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#migracion">
        <i class="fa fa-angle-right">
        </i>Datos de Migración</a>
    </h4>
  </div>
  <div id="migracion" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="form-group">
        <div class="alert alert-info">
          <p style="white-space: pre-wrap;"> {{observacion}} </p>
        </div>
      </div>
    </div>
  </div>
</div>