<li class="sub-menu  dcjq-parent-li">
  {{!-- {{#if habilitaCursos}} --}}
    <li>
      {{#link-to "cursos"}}
      <i class="fa fa-money"></i>
      <span>Cursos</span>
      {{/link-to}}
    </li>
    {{!-- {{/if}} --}}
</li>
