<li class="sub-menu  dcjq-parent-li">
  <a href="javascript:;" class="dcjq-parent">
    <i class="glyphicon glyphicon-star"></i>
    <span>Misiones</span>
  </a>
  <ul class="sub" style="overflow: hidden; display: block;">
    <li class="sub-menu  dcjq-parent-li">
      <a href="javascript:;" class="dcjq-parent">
        <i class="fa fa-female fa-male"></i>
        <span>Colaboradores</span>
      </a>
      <ul class="sub" style="overflow: hidden; display: block;">
        <li>
          {{#link-to "tipo_colaboradores"}}
          <span>Tipos Colaborador</span>
          {{/link-to}}
        </li>
        <li>
          {{#link-to "colaboradores"}}
          <span>Colaboradores</span>
          {{/link-to}}
        </li>
        <li>
          {{#link-to "cursos"}}
          <span>Cursos</span>
          {{/link-to}}
        </li>
        <li>
          {{#link-to "viajes"}}
          <span>Viajes</span>
          {{/link-to}}
        </li>
      </ul>
    </li>
    <li>
      {{#link-to "campanhas"}}
        <i class="glyphicon glyphicon-globe"></i>
        <span>Campañas</span>
      {{/link-to}}
    </li>

  </ul>
</li>