<h1>Productos que vencen este mes</h1>
<% if @lote.length > 0 %>
<ul>
    <% @lote.each do |l| %>
    <li><%= l.producto.descripcion %><small><em>(vence el <strong><%= l.fecha_vencimiento.strftime("%d/%m/%Y") %></strong>)</em></small></li>
    <% end %>
</ul>
<% else %>
<p>No vencen productos este mes.</p>
<% end %>